.texthover{
    color: rgb(0, 0, 0);
}
.texthover:hover{
    color: #eb6941;
    cursor: pointer;
}

nav{
    margin-top: 1em;
    margin-bottom: 1em;
}

.tHome{
    font-size: 4em;
}

.inradio{
    margin-left: 1em;
}

.bg11{
    background-color: #e3f2fd;
}

.card1{
    margin-top: 0.5em;
}

.mainp{
    min-height: 50em;
}